@import url('https://fonts.tourguide_googleapis.tourguide_com/css?family=Open+Sans:400,600,700&display=swap');

body {
    display: flex;
    flex-direction: column;
}

#tourconfirmation_menubar {
    flex: 0 0 60px;

    background-color: #ffffff;
    display: inline-block;
    text-align:center;

    border-bottom: 1px solid #e3e3e3;
}

.tourconfirmation__guide_name {
    font-size: 26px;
    padding-bottom: 16px;
}

.tourconfirmation__guide_description {
    padding: 2px;
    font-size: 16px;
}

.tourconfirmation__guide_bio {
    width: 300px;
    padding-left: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#tourconfirmation__guide_review {
    padding-bottom: 6px;
}

#tourconfirmation_guide-login{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #d65341;

    width: 40%;
    display: inline-block;
    text-align:left;
}

#tourconfirmation_logo {
    display: inline-block;
    margin-top: 10px;
}

#tourconfirmation_logo-img {
    vertical-align: middle;
    height: 40px;
}

#tourconfirmation_guide-signup{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #d65341;

    display: inline-block;
    width: 40%;
    text-align:right;
    padding-right:10px;
    margin-bottom:11px;
}

#tourconfirmation_tour__mainpage {
    background-color: white;

    flex: 1 1 auto;
    width: 100%;
    height: 850px;
    text-align: left;
    display: flex;
    padding: 0%;
}

#tourconfirmation_sidebar {
    flex: 0 0 350px;
    border-right: 1px solid #e3e3e3;
}

#tourconfirmation__detail_text {
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}

#tourconfirmation__tour_details {
    flex: 1 1 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
}

.tourconfirmation__detail_details_1 {
    display: inline-block;
    color: #d65341;
    font-weight: 600;
    font-size: 18px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.tourconfirmation__detail_details_2 {
    display: inline-block;
    font-size: 18px;
}

#tourconfirmation__detail {
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.tourconfirmation__detail_important {
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 20px;
}

.tourconfirmation__detail_content {
    max-width: 450px;
}

#tourguideconfirmation__waiting {
    color: #d65341;
}

.tourconfirmation__button {
    width: 450px;
    height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    background-color: #d65341;
    text-align: center;
    padding-top: 18px;
    display: inline-block;
    margin-top: 90px;
    margin-left: 140px;
    font-size: 20px;
}

#tourconfirmation__back_btn {
    color: white;
}

#tourconfirmation__tour_map {
    border-left: 1px solid #e3e3e3;
    flex: 0 0 60px;
}
