@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

*{
    margin : 0;
    padding : 0;
    font-family: 'Open Sans', sans-serif;
}


body {
    background: url('../../imgs/stanford-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#menubar {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: inline-block;
    text-align:center;
}

#guide-login{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #eb5757;
    width: 40%;
    display: inline-block;
    text-align:left;
}

#logo {
    display: inline-block;
    margin-top: 10px;
}

#guide-signup{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #eb5757;
    display: inline-block;
    width:40%;
    text-align:right;
    padding-right:10px;
    margin-bottom:11px;
}

#logo-img {
    vertical-align: middle;
    height: 40px;
}

#guide_signup_link {
    color: #eb5757;
}

#guide_login_link {
    color: #eb5757;
} 

#mainpage {
    text-align: right;
    padding-right: 10%;
    padding-top: 7%;
}

#container {
    text-align: left;
    width: 450px;
    height: 580px;
    display: inline-block;
    border-radius: 10px;
    background-color:#ffffff;
}

#textbox {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-weight: bold;

    padding : 40px 40px;
}

#findbox-date {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#findbox-time-duration {
    display: inline-block;
}

#findbox-time {
    display: inline-block;
    width: 150px;

    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#findbox-duration {
    display: inline-block;
    width: 150px;

    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#findbox-size {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
}

#findbox-search {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350px;
    border-radius: 10px;
    background-color: #eb5757;
    text-align: center;
}

.tour__fb-text {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
}

.home-custom-input {
    width: 340px;
    height: 35px;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}

.fb-text-red {
    font-weight: 550;
    font-size: 16px;
    color: #eb5757;
}

.fb-text-white {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

