@import url('https://fonts.tourguide_googleapis.tourguide_com/css?family=Open+Sans:400,600,700&display=swap');
*{
    margin : 0;
    padding : 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#tourguide_menubar {
    flex: 0 0 60px;

    background-color: #ffffff;
    display: inline-block;
    text-align:center;

    border-bottom: 1px solid #e3e3e3;
}

#tourguide_guide-login{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #eb5757;

    width: 40%;
    display: inline-block;
    text-align:left;
}

#tourguide_logo {
    display: inline-block;
    margin-top: 10px;
}

#tourguide_logo-img {
    vertical-align: middle;
    height: 40px;
}

#tourguide_guide-signup{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #eb5757;

    display: inline-block;
    width: 40%;
    text-align:right;
    padding-right:10px;
    margin-bottom:11px;
}

#tourguide_tour__mainpage {
    background-color: white;

    flex: 1 1 auto;
    width: 100%;
    height: 850px;
    text-align: left;
    display: flex;
    padding: 0%;
}

#tourguide_sidebar {
    flex: 0 0 400px;
    border-right: 1px solid #e3e3e3;
}

.tourguide_custom-input {
    width: 320px;
    height: 35px;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}

.tourguide_findbox {
    width: 320px;
    padding-left: 40px;
    padding-top: 32px;
}

.tourguide_fb-text {
    padding-bottom: 10px;
}

#tourguide_guide-list {
    flex: 1 1 auto;
    vertical-align: top;
    display: inline;
}

.tourguide_guidebox {
    width: 500px;
    height: 170px;
    margin: 30px;
    display: inline-block;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
}

.tourguide_guide-image {
    background-image: url('imgs/default-profile-picture1.jpg');
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 15px;
    display: inline-block;
}

.tourguide_guide-text {
    height: 160px;
    width: 250px; 
    display: inline-block;
    vertical-align: top;
    margin: 20px;

    font-size: 15px;
}

.tourguide_guide-name {
    font-size: 20px;

    margin-bottom: 15px;
}

.tourguide_guide-language {
    margin-bottom: 5px;
}

.tourguide_guide-major {
    margin-bottom: 15px;
}

.tourguide_ratings {
    margin-top: 15px;
}
