@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
    background-color: white;
    background-image: none;
    display: flex;
    flex-direction: column;
}

#menubar {
    flex: 0 0 60px;

    background-color: #ffffff;
    display: inline-block;
    text-align:center;

    border-bottom: 1px solid #e3e3e3;
}

#guide-login{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #eb5757;

    width: 40%;
    display: inline-block;
    text-align:left;
}

#logo {
    display: inline-block;
    margin-top: 10px;
}

#logo-img {
    vertical-align: middle;
    height: 40px;
}

#guide-signup{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #eb5757;

    display: inline-block;
    width:40%;
    text-align:right;
    padding-right:10px;
    margin-bottom:11px;
}

#tour__mainpage {
    background-color: white;

    flex: 1 1 auto;
    width: 100%;
    height: 850px;
    text-align: left;
    display: flex;
    padding: 0%;
}

#tour__sidebar {
    flex: 0 0 400px;
    padding-top: 20px;
    border-right: 1px solid #e3e3e3;
}

#tour__loading_text {
    font-size: 20px;
    font-weight: 600;
    margin: 30px;
    color: #d65341;
}

.custom-input {
    width: 320px;
    height: 35px;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}

.findbox {
    width: 320px;
    padding-left: 40px;
    padding-top: 20px;
}

#tour__findbox-search {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 320px;
    border-radius: 10px;
    background-color: #eb5757;
    text-align: center;
}

.fb-text {
    padding-bottom: 10px;
}

#guide-list {
    flex: 1 1 auto;
    vertical-align: top;
    display: inline;
}

.guidebox {
    width: 440px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
}

.guide-image {
    background-image: url('../../imgs/default-profile-picture1.jpg');
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    display: inline-block;
}

.guide-text {
    height: 160px;
    width: 250px; 
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.guide-name {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.guide-language {
    margin-top: 5px;
    margin-bottom: 5px;
}

.guide-major {
    margin-bottom: 7px;
}

.ratings {
    margin-top: 7px;
}
